*{
  background-color: #231709;
}

.game{
  margin: auto;
  text-align: center;
}

canvas{
  border: 5px solid #A06152;
  
 
}

#intro_page{
display:flex;
flex-direction: column;
align-items: center;
}

#intro_page > button {
  width: 100px;
  height: 40px;
  border-radius: 5px;
  background-color: #EFBAE9;
}
